@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/* reset dei margini */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stili generali */
body {
  font-family: Lato, sans-serif;
  font-size: 12px;
  color: hsla(0,0%,100%,0.5);
}
section {
  padding: 0 20px 0 0;
}
section h2 {
  font-size: 30px;
  margin: 10px 20px;
  font-weight: bold;
  color: hsla(0,0%,100%,1);
}
section p {
  margin: 0 20px;
}
i {
  font-size: 1.5em;
}
.uppercase {
  text-transform: uppercase;
  font-weight: bold;
}
.v-center-row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.h-center-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.green-bar-v {
  position: absolute;
  left: -9px;
  height: 40px;
  width: 3px;
  background-color: #000;
}
.green-bar-h {
  height: 2px;
  width: 40px;
  background-color: #141922;
}
li:hover .green-bar-v,
li:active .green-bar-v,
li:hover .green-bar-h,
li:active .green-bar-h {
  background-color: #adff2f;
  transition: 0.5s;
}
li:hover .green-bar-h {
  animation: expansion-green-bar-h 0.5s;
}
li:hover .green-bar-v {
  animation: expansion-green-bar-v 0.5s;
}
ul {
  list-style-type: none;
}
a {
  color: hsla(0,0%,100%,0.5);
  text-decoration: none;
}
a:hover {
  color: hsla(0,0%,100%,1);
  transition: 0.5s;
  background-color:
}
a > img {
  width: 25px;
  height: 25px;
}
.nav-text {
  padding-left: 10px;
}
.layover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(8,11,18,0.5);
  opacity: 0;
}
/* progress bar */
.progress-bar {
  position: relative;
  width: 90%;
  height: 6px;
  background-color: hsla(0,0%,100%,.3);
  border-radius: 3px;
}
.progress-bar:hover {
  cursor: pointer;
}
.progress-bar:hover .cursor {
  background-color: #adff2f;
  transition: 1s;
  animation: slide 1s;
}
.progress-bar:hover .circle {
  opacity: 1;
  transition: 1s;
  animation: slide-circle 1s;
}
.cursor {
  position: absolute;
  left: 0;
  top: 0;
  background-color: hsla(0,0%,100%,.5);
  width: 30%;
  height: 100%;
  border-radius: 3px;
}
.circle {
  position: absolute;
  left: 30%;
  top:50%;
  transform: translate(-50%,-50%);
  width: 14px;
  height: 14px;
  background-color: hsla(0,0%,100%,1);
  border-radius: 50%;
  opacity: 0;
}
/* /progress bar */

/* customizzazione Scrollbar  */
::-webkit-scrollbar {
  width: 15px;
}
/* scrollbar track */
::-webkit-scrollbar-track {
  background: hsla(0,0%,20%,.5);
}
/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background: hsla(0,0%,100%,.5);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(0,0%,100%,1);
}

/* animations */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
@keyframes slide-circle {
  0% {
    left: 0;
  }
  100% {
    left: 30%;
  }
}
@keyframes expansion-green-bar-h {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}
@keyframes expansion-green-bar-v {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes expansion-green-bar-v {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

/* regole per struttura webapp */

/* wrapper */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
/* parte principale con nav-bar e contenuti */
main {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #141922;
  display: flex;
  flex-flow: row nowrap;
}

/* menu di navigazione laterale */
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  width: 230px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container {
  width: calc(100% - 230px);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

/* nav-bar top */
.nav-bar-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 9px 0 9px;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
  /* debug */
  /* position: relative;
  background-color: pink;
  border: 1px solid white; */
}
#logo {
  height: 40px;
  margin: 0 0 18px 15px;
}
#logo img,
#logo-small img {
  height: 100%;
}
#logo-small {
  height: 30px;
  display: none;
}
/* tools */
.tools {
  margin-bottom: 18px;
  flex-shrink: 0;
}
.tools > li a {
  height: 40px;
  width: 100%;
  padding: 0 15px;
  border-radius: 4px;
}
.tools > li a:hover,
.tools > li a:active {
  background-color: #282828;
}
/* playlist */
.playlist {
  padding-left: 15px;
  padding-bottom: 15px;
}
.playlist > a i {
  font-size: 2.5em;
}
.playlist-title {
  padding-bottom: 15px;
  color: hsla(0,0%,100%,1);
  font-size: 16px;
}
.playlist-list {
  padding-left: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
.playlist-list li {
  padding-bottom: 15px;
}
/* /nav-bar top */

/* nav-bar bottom */
.nav-bar-bottom {
  flex-basis: 90px;
  flex-shrink: 0;
  padding: 0 24px;
  display: flex;
  flex-flow: column nowrap;
  /* debug */
  /* position: relative;
  height: 50px;
  background-color: pink;
  border: 1px solid white; */
}
#download {
  padding: 5px 0;
  border-bottom: 1px solid hsla(0,0%,100%,.5);
}
#download img {
  width: 15px;
}
#profile {
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;
  color: hsla(0,0%,100%,1);
}
#profile > div {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #808080;
  border-radius: 50%;
}
#profile > div > img {
  position: absolute;
  height: 25px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* /nav-bar bottom */

/* top bar */
.top-bar {
  flex-basis: 60px;
  flex-shrink: 0;
  background-color: rgba(8,11,18,0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.upgrade {
  margin-right: 30px;
  padding: 7px 25px;
  color: hsla(0,0%,100%,1);
  border: 1px solid hsla(0,0%,100%,1);
  border-radius: 30px;
}
.upgrade:hover {
  transform: scale(1.1);
}

/* contenuti */
.content {
  height: calc(100% - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}
#sections ul {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#sections ul li a {
  margin: 5px 10px 3px 10px;
}
.row-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
}
.card {
  flex-basis: calc((100% / 6) - 20px);
  flex-shrink: 1;
  margin-left: 20px;
  margin-bottom: 20px;
  animation: fade-in 2s;
}
.card-img {
  position: relative;
}
.card-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3em;
  opacity: 0;
}
.card-img:hover {
  transform: scale(1.1);
  z-index: 999;
  transition: transform 0.5s;
}
.card-img:hover .layover,
.card-img:hover .card-play {
  opacity: 1;
  transition: opacity 0.5s;
}
.card img {
  width: 100%;
}
.card-title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: hsla(0,0%,100%,1);
  padding: 10px 0;
}
.card-title:hover {
  text-decoration: underline;
}
#artists img,
#artists .layover {
  border-radius: 50%;
}

/* barra di riproduzione nel footer */
footer.play-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #282828;
  width: 100%;
  flex-basis: 90px;
  flex-shrink: 0;
}
/* play bar sinistra */
.play-bar-left {
  flex-basis: 300px;
  flex-shrink: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  /* debug */
  /* position: relative;
  background-color: pink;
  border: 1px solid white; */
}
.play-bar-left .left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.play-bar-left .left > a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.track-title div:first-of-type {
  color: hsla(0,0%,100%,1);
  font-size: 16px;
}
.play-bar-left .right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.play-bar-left .right i {
  padding-left: 15px;
  font-size: 1.5em;
}

/* play bar centrale */
.play-bar-center {
  flex-basis: 700px;
  flex-shrink: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  /* debug */
  /* position: relative;
  background-color: pink;
  border: 1px solid white; */
}
.player-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  width: 30%;
}
.player-controls i {
  font-size: 1.2em;
  margin: 0 5px;
}
#play {
  font-size: 2em;
}
.progress-control {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* play bar destra */
.play-bar-right {
  flex-basis: 300px;
  flex-shrink: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  /* debug */
  /* position: relative;
  background-color: pink;
  border: 1px solid white; */
}
.play-bar-right i {
  font-size: 1.2em;
}
.play-bar-right .controls {
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.play-bar-right .volume {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.play-bar-right .volume > a {
  padding: 5px;
}
.play-bar-right .volume .progress-bar {
  width: 90%;
}

/* media query */
@media all and (max-width: 992px) {
  #sections ul {
    justify-content: flex-start;
  }
  #sections ul li {
    width: calc(100% / 3);
  }
  .card {
    flex-basis: calc((100% / 4) - 20px);
  }
}

@media all and (max-width: 768px) {
  #sections ul li {
    width: calc(100% / 2);
  }
  .card {
    flex-basis: calc((100% / 2) - 20px);
  }
}

@media all and (max-width: 578px) {
  .nav-bar {
    width: 50px;
  }
  .nav-bar-top,
  .nav-bar-bottom {
    align-items: center;
  }
  #download {
    border-bottom: 0;
  }
  .nav-text,
  .playlist,
  .playlist-list {
    display: none;
  }
  .container {
    width: calc(100% - 50px);
  }
  .top-bar {
    justify-content: center;
  }
  .upgrade {
    margin-right: 0;
  }
  #logo {
    display: none;
  }
  #logo-small {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
