@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* reset dei margini */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* stili generali */
body {
  color: #fff;
  font-family: Lato, Roboto, sans-serif;
  font-size: 12px;
}
i {
  font-size: 2em;
}
.uppercase {
  text-transform: uppercase;
  font-weight: bold;
}
.green-bar-v {
  height: 40px;
  width: 3px;
  background-color: #000;
}
.green-bar-h {
  height: 2px;
  width: 40px;
  background-color: #141922;
}
li:hover .green-bar-v,
li:active .green-bar-v,
li:hover .green-bar-h,
li:active .green-bar-h {
  background-color: #adff2f;
  transition: 0.5s;
}
ul {
  list-style-type: none;
  overflow: auto;
}
li, a {
  color: hsla(0,0%,100%,0.5);
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
a:hover {
  color: hsla(0,0%,100%,1);
  transition: 0.5s;
  background-color:
}
a > img {
  width: 25px;
  height: 25px;
}
.nav-text {
  padding-left: 10px;
}
/* regole di debug */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /regole di debug */

/* clearfix del wrapper */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* menu di navigazione laterale */
.nav-bar {
  background-color: #000;
  width: 230px;
  height: calc(100vh - 90px);
  float: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* nav-bar top */
.nav-bar-top {
  height: calc(100% - 50px);
  width: 100%;
  flex-shrink: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* debug */
  /* position: relative;
  background-color: pink;
  border: 1px solid white; */
}
#logo {
  height: 40px;
  margin: 24px 0 18px 24px;
}
#logo img,
#logo-small img {
  height: 100%;
}
#logo-small {
  height: 30px;
  display: none;
}

.tools {
  margin-bottom: 18px;
  flex-shrink: 0;
}
.tools > li a {
  height: 40px;
  width: 100%;
  padding: 0 16px;
  margin: 0 8px 0 5px;
  border-radius: 4px;
}
.tools > li a:hover,
.tools > li a:active {
  background-color: #282828;
}

.playlist {
  padding-left: 24px;
  padding-bottom: 15px;
}
.playlist-title {
  padding-bottom: 15px;
}
.playlist-list {
  padding-left: 24px;
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: auto;
}
.playlist-list li {
  padding-bottom: 15px;
}
/* /nav-bar top */

/* nav-bar bottom */
.nav-bar-bottom {
  width: 90%;
  margin: 0 auto;
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* debug */
  /* position: relative;
  height: 50px;
  background-color: pink;
  border: 1px solid white; */
}
#download img {
  width: 15px;
}
#profile {
  margin: 5px 0;
  font-weight: bold;
  font-size: 16px;
  color: hsla(0,0%,100%,1);
}
#profile > div {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #808080;
  border-radius: 50%;
}
#profile > div > img {
  width: 100%;
}
/* /nav-bar bottom */

/* parte principale con top-bar e contenuti */
main {
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  float: left;
}
/* top bar */
.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: calc(100% - 230px);
  height: 60px;
  background-color: rgba(8,11,18,0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.upgrade {
  margin-right: 30px;
  padding: 7px 25px;
  color: hsla(0,0%,100%,1);
  border: 1px solid hsla(0,0%,100%,1);
  border-radius: 30px;
}
.upgrade:hover {
  transform: scale(1.1);
}

/* contenuti */
.content {
  background-color: #141922;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#sections ul {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#sections ul li {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#sections ul li a {
  margin: 5px 10px 3px 10px;
}

/* barra di riproduzione nel footer */
.play-bar {
  background-color: #282828;
  width: 100%;
  height: 90px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.play-bar-left {
  flex-basis: 300px;
  flex-shrink: 1;
  /* debug */
  position: relative;
  background-color: pink;
  border: 1px solid white;
}
.play-bar-center {
  flex-basis: 600px;
  flex-shrink: 1;
  /* debug */
  position: relative;
  background-color: pink;
  border: 1px solid white;
}
.play-bar-right {
  flex-basis: 300px;
  flex-shrink: 1;
  /* debug */
  position: relative;
  background-color: pink;
  border: 1px solid white;
}

/* media query */
@media all and (max-width: 578px) {
  .nav-bar {
    width: 50px;
  }
  .nav-bar-top,
  .nav-bar-bottom {
    align-items: center;
  }
  .nav-text,
  .playlist,
  .playlist-list {
    display: none;
  }
  main,
  .top-bar {
    width: calc(100% - 50px);
  }
  .top-bar {
    justify-content: center;
  }
  .upgrade {
    margin-right: 0;
  }

  #logo {
    display: none;
  }
  #logo-small {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media all and (max-height: 500px) {
  .nav-bar-bottom {
    display: none;
  }
}
